@import "./colors.scss";

/* General */
:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  background-color: $color-background-primary;
  color: $color-text-primary;
}

* {
  cursor: default;
}

button,
a {
  * {
    cursor: pointer;
  }
}

::selection {
  background-color: transparent;
}

input,
::placeholder {
  font: normal 1.6rem "Work Sans";
  line-height: 1.4;
}

::placeholder {
  color: $color-text-secondary;
}

a {
  outline: 0;
  text-decoration: none;
  
  &:hover,
  &:active,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba($color-text-secondary, 0.05);
}
