@import "../../styles/colors.scss";

/* Settings Control */
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.6rem;
  height: 100%;
  background: $color-background-primary;
  user-select: none;

  &:hover {
    background: rgba(255,255,255,0.1);
  }

  &.active {
    background: $color-background-secondary;

    &:hover {
      background: rgba(255,255,255,0.1);
    }
  }

  svg {
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
}
